* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color: white;
	box-sizing: border-box;
}

h3 {
	text-align: center;
	font-weight: bolder;
	color: #ff6411;
	font-family: Arial,sans-serif;
	font-size: 16px;
	margin: 0px;
}

.text {
	margin-left: calc(10vw);
	margin-right: calc(10vw);
	margin-top: 30px;
}
.nav {
  width: 100%;
	height: 100px;
	background-color: white;
  position: relative;
	z-index: 99999;
}

.logo-image img{
	width: 90%;
  max-width: 270px;
	min-width: 250px;
  height: auto;
	margin-top: 0.2em;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
	font-family: Helvetica;
	font-weight: lighter;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 33px;
  text-decoration: none;
  color: black;
  border-bottom: 5px solid transparent;
}

.nav-links a.nav-logo{
	padding-bottom: 20px;
	/* background: url('donate_logo copy.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px; */
}

/* .nav-links .nav-logo:hover{
	background: url('donate_logo.png');
	background-size: cover;
	background-repeat: no-repeat;
} */

.nav > .nav-links > a:hover {
  letter-spacing: 1px;
  color: #ff6411;
  border-bottom: 5px solid #ff6411;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:822px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 32px 30px 20px 20px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #ff6411;
  }


  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(250,250,250,1), rgba(255,255,255,1));
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(80vh);
    overflow-y: auto;
  }
}

.nav-links .donate-logo {
	width: 100%;
	max-width: 60px;
	height: auto;
	margin: 0px;
	margin-top: -0.54em;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 90%;
    }

		.carousel-control {
    height: 81%;
	}

    .item:nth-child(1) {
      background: url('image_iii.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(2) {
      background: url('image_i.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
    background: url('image_ii.jpg');
	  background-size: cover;
	  background-position: center center;
	  background-repeat: no-repeat;
		background-color: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    }

		.donate-button a  {
	    background: #ff5837;
	    color: #fff;
			padding: 19px 2em 18px;
			font-size: 1.8rem;
			font-family: Arial,sans-serif;
			font-weight: 600;
			border: 2px solid transparent;
			border-radius: 5px;
			text-align: center;
			overflow: hidden;
			text-decoration: none;
			transition: all 0.3s ease-out;
			margin-left: calc(-70vw);

	}

	.donate-button a:hover {
		background-color: transparent;
		border: 2px solid #ff5837;
		transition: all 0.3s ease-in;
	}

	@media (max-width:860px) {
	  .donate-button a {
			margin-left: calc(-45vw);
	  }

	@media (max-width:400px) {
		  .donate-button a {
				margin-left: calc(15vw);
		  }
