* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
  font-family: Helvetica;
	background-color: grey;
}

.nav {
  width: 100%;
	height: 100px;
  background-color: white;
  position: fixed;
}

.logo-image img{
	width: 100%;
  max-width: 280px;
  height: auto;
	margin-top: -1em;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 33px;
  text-decoration: none;
  color: black;
  border-bottom: 5px solid transparent;
}

.nav-links a.nav-logo{
	padding-bottom: 20px;
}

.nav > .nav-links > a:hover {
  letter-spacing: 1px;
  color: #ff6411;
  border-bottom: 5px solid #ff6411;
}

.nav .nav-links .active a{
	color: white;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:822px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 30px 30px 20px 20px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #ff6411;
  }


  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.nav-links .donate-logo {
	width: 100%;
	max-width: 60px;
	height: auto;
	margin: 0px;
	margin-top: -0.6em;
}
